.annabanana {
    padding: 8px 15px 29px 15px;
    text-align: center;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/Images/bg_image_mobil_1x.png");
    background-repeat: no-repeat;
    background-size: contain;

}

.hero_title {
    font-weight: 400;
    font-size: 40px;
    color: white;
    margin-bottom: 17px;

    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 350px;
        background-color: white;


    }
}



.hero_text {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 17px;
    text-align: left;
}

.hero_subtext {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.hero_form_btn {
    background: #FA793C;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    padding: 13px 33px;
    color: white;
    margin-top: 24px;
    margin-bottom: 29px;
    width: 160px;
}

.hero_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_form_input {
    width: 348px;
    border: 3px solid #FFFFFF;
    border-radius: 30px;
    padding: 13px 180px 13px 23px;
}

.more_news {
    background-color: white;
    padding: 11px 13px;
    // display: flex;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;

}

.more_news_title {
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    margin-bottom: 11px;

    &::after {
        content: "";
        display: block;
        height: 1px;
        width: 350px;
        background-color: black;
    }
}

.more_news_subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #FA793C;
    margin-bottom: 11px;
}

.more_news_text {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    margin-bottom: 13px;

    &:not(:last-child) {
        margin-bottom: 11px;
    }
}

.more_news_btn_left {
    margin-right: 278px;
}

@media (min-device-pixel-ratio:2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {

    .annabanana {
        background-image: url("/Images/bg_image_mobile@2x.png");

    }
}



// tablet
@media screen and (min-width:834px) {
    .annabanana {
        padding: 31px 67px 46px 77px;
        max-width: 834px;
        background-image: url("/Images/bg_image_tablet_1x.png");
        background-repeat: no-repeat;
        background-size: cover;
    }


    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

        .annabanana {
            background-image: url("/Images/bg_image_tablet@2x.png");
        }
    }

    .more_news {
        max-width: 834px;
        padding: 32px 67px 32px 67px;
    }

    .text_container_left {
        margin-right: 42px;
    }

    .more_news_title {
        font-size: 50px;
    }

    .more_news_btn_left {
        margin-right: 21px;
    }

    .text_container {
        display: flex;
    }

    .btn_container {
        position: relative;
        right: -596px;
        top: -184px;
        width: 90px;
    }

    .hero_title {
        font-size: 50px;
        text-align: left;

        &::after {
            width: 576px;
            text-align: left;
        }

    }

    .hero_text {
        font-size: 20px;
    }

    .hero_subtext {
        font-size: 40px;
    }

    .hero_form {
        flex-direction: row;
    }

    .hero_form_input {
        width: 478px;
        margin-right: 20px;
    }

    .more_news_title {


        &::after {
            content: "";
            display: block;
            height: 1px;
            width: 700px;
            background-color: black;


        }
    }



}

//Desktop retina screen



// Desktop

@media screen and (min-width:1440px) {

    .hero {
        background-image: url("/Images/bg_image_desktop_1x.png");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 72px;

    }

    @media (min-device-pixel-ratio:2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

        .hero {
            background-image: url("/Images/bg_image_desktop@2x.png");
        }
    }



    .annabanana {
        padding: 72px 128px 72px 130px;
        margin-left: 0;
        margin-right: 0;
        background-color: transparent;

    }

    .more_news {
        padding: 27px 41px 33px 38px;
        margin-left: 0;
        margin-right: 0;
    }

    .more_news_title {
        font-size: 30px;

        &::after {
            width: 360px;

        }
    }

    .btn_container {
        right: -271px;
        top: -303px;
    }

    .text_container {
        flex-direction: column;
    }

    .hero_text {
        font-size: 16px;
    }

    .hero_subtext {
        font-size: 40px;
    }

    .hero_form {
        flex-direction: row;
    }

    .hero_form_input {
        width: 348px;
        margin-right: 20px;
    }

    .hero {
        display: flex;
        max-width: 1440px;
    }

    .more_news {
        width: 440px;
        height: 404px;
        border: 1px solid red;
    }
}